.build-row .build-name-controls .pane.build-name {
	height: auto !important;
}

.build-row-cell .pane.build-name .display-name {
	margin-top: 3px !important;
	margin-left: 22px !important;
}

.build-row-cell .pane.build-details {
	margin-top: 0 !important;
	padding-left: 30px !important;
}

.build-row-cell .pane.build-details > a {
	color: #999 !important;
}

.jenkins-ext-build-status--ok {
}

.jenkins-ext-build-status--warn {
}

.jenkins-ext-build-status--error {
}

.jenkins-ext-build-status--abort {
}

.jenkins-ext-build-status--run {
}

.jenkins-ext-build-status--na {
}

.jenkins-ext-build-commiters {
	font-size: 10px;
	line-height: 12px;
}

.jenkins-ext-build-commiter {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 320px;
	padding-left: 30px;
	color: #666 !important;
}

.jenkins-ext-build-commiter--highlight {
	color: #f63 !important;
}

.jenkins-ext-build-commiter:hover {
	color: #36f !important;
}
