.jenkins-ext-popup-body {
	margin: 15px;
	font-size: 16px;
	color: #000;
}

.jenkins-ext-popup {
	display: flex;
    flex-direction: column;
	height: 570px;
	width: 650px;
	font-family: MetricWeb-Regular, arial, sans-serif;
}

.jenkins-ext-popup__header {
	display: flex;
	background-color: #444;
	height: 30px;
	line-height: 30px;
    padding: 10px;
}

.jenkins-ext-popup__header__image {
	width: 30px;
	height: 30px;
	margin-top: -2px;
    border-radius: 50%;
}

.jenkins-ext-popup__header__title {
	margin-left: 5px;
	font-size: 24px;
	color: #fff;
}

.jenkins-ext-popup__content {
	position: relative;
	flex: 1 1 auto;
	padding: 10px 0;
	font-size: 12px;
}

.jenkins-ext-popup-required-indicator {
    position: relative;
    color: #d24939;
	top: 2px;
}

.jenkins-ext-popup-label {
	display: inline-block;
}

.jenkins-ext-popup-color-mark {
	position: relative;
	top: 1px;
	display: inline-block;
	width: 16px;
	height: 12px;
	border-radius: 3px;
}

.jenkins-ext-popup-color-mark--green {
	background-color: #9c9;
}

.jenkins-ext-popup-color-mark--yellow {
	background-color: #fc6;
}

.jenkins-ext-popup-color-mark--red {
	background-color: #f88;
}

.jenkins-ext-popup-color-mark--blue {
	background-color: #aaf;
}

.jenkins-ext-popup-color-mark--purple {
	background-color: #daf;
}

.jenkins-ext-popup-hint {
	color: #aaa;
}

.jenkins-ext-popup-input {
	margin: 2px 0 10px 0;
	width: 100%;
	height: 23px;
	padding: 5px;
}

.jenkins-ext-popup__footer {
	display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    border-top: 1px solid #ddd;	
}

.jenkins-ext-popup__footer__button {
	margin-right: 0;
	margin-left: 10px;
	height: 25px;
	line-height: 23px;
    width: 80px;
    border: 1px solid #999;
    background-color: #fff;
    outline: none !important;    
    font-size: 14px;
    cursor: pointer;
}
